<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>약관 & 개인정보 처리방침</title>
</head>
<body>
    <h1>{{content}}</h1>
    새 페이지 입니다.
</body>
</html>